name: Deploy to Hostinger 
on: 
  push: 
    branches: 
      - main 
jobs: 
  deploy: 
    runs-on: windows-latest 
    steps: 
      - name: Checkout code 
        uses: actions/checkout@v2 

      - name: Deploy to Hostinger 
        uses: SamKirkland/FTP-Deploy-Action@4.1.0
        with: 
          server: ftp.bluexyru.shop
          username: ${{ secrets.FTP_USERNAME }} 
          password: ${{ secrets.FTP_PASSWORD }} 
          local-dir:  #/themes/twentytwentyfour/templates/404.html/
          dry-run: true